# 基础域名
MY_DOMAIN=example.com

# 腾讯云密钥
TENCENT_ID=id
TENCENT_KEY=token

# JWT 密钥
JWT_KID= # string length 12
JWT_SHARED_KEY= # uuid v4
AUTH_LIFETIME=18000 # time in seconds

# USER ADMIN
ADMIN_PASS=admin123456
DEMO_PASS=demo123456